<p>
  <b>Per paterno:</b>
  <%=h @persona.per_paterno %>
</p>

<p>
  <b>Per materno:</b>
  <%=h @persona.per_materno %>
</p>

<p>
  <b>Per nombre:</b>
  <%=h @persona.per_nombre %>
</p>

<p>
  <b>Per curp:</b>
  <%=h @persona.per_curp %>
</p>

<p>
  <b>Per rfc:</b>
  <%=h @persona.per_rfc %>
</p>

<p>
  <b>Per tipo:</b>
  <%=h @persona.per_tipo %>
</p>

<p>
  <b>Per elaboracion:</b>
  <%=h @persona.per_elaboracion %>
</p>

<p>
  <b>Per modificacion:</b>
  <%=h @persona.per_modificacion %>
</p>

<p>
  <b>Per activo reg:</b>
  <%=h @persona.per_activo_reg %>
</p>


<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>